.root {
	padding: 10px;
	position: relative;

	&::before {
		content: "";
		position: absolute;
		background-color: red;
		top: 0;
		left: 40px;
		width: 10px;
		height: 2px;
		transform: rotate(45deg);
	}
}

.list {
	list-style: none;
}

.el {

}