.root {
	padding: 10px 60px;
	text-align: center;
	border-radius: 10px;
	outline: none;
	cursor: pointer;
	border: none;
	transition: .5s;

	&:hover {
		background-color: var(--third-color);
	}
}

.standard {

}

.outline {
	border: 1px solid var(--second-color);
}

.cancel {
	background-color: var(--fourth-color);
}
