.root {
	
}

.value {
	padding: 10px;
	color: var(--second-color);
	background-color: var(--main-color);
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border: 1px solid var(--fourth-color);
	transition: background-color 0.5s;
	text-align: center;
	width: 200px;
	min-height: 20px;
	position: relative;

	&:hover {
		background-color: var(--third-color);
	}
}

.list {
	list-style: none;
	padding: 0;
	width: 220px;
	border: 1px solid var(--fourth-color);
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	margin: 2px 0;
	position: absolute;
}

.el {
	padding: 6px;

	&:hover {
		background-color: var(--third-color);
	}
}

.selected {
	background-color: var(--fourth-color);
}
