.root {
    position: relative;
}

.input {
	width: 60px;
	display: block;
    text-align: center;
}

.list {
	list-style: none;
	position: absolute;
	right: 12px;
}

.item {
	margin: 4px 0;
	cursor: pointer;

    @media (max-width: 1024px) {
		display: none;
	}
}