@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
	--main-color: #FEFFFE;
	--second-color: #22223B;
	--third-color: #F2E9E4;
	--fourth-color: #FC5F67;
}
.root {
	font-family: 'Roboto', sans-serif;
}

.title {
	font-size: 24px;
	line-height: 20px;
	text-align: center;
}
