.root {
	display: flex;
	justify-content: end;
	width: 20%;
	margin: auto;
}

.list {
	list-style: none;
    display: flex;
	flex-direction: column;
    justify-content: space-between;

	@media (max-width: 1024px) {
		display: none;
		margin: auto 0;
	}
}

.listMobile {
	display: block;
	margin: auto 0;
}

.link {
	text-decoration: none;
	color: var(--second-color);

	&:hover {
		color: var(--fourth-color);
	}
}

.mobileMenu {
	width: 24px;
	height: 24px;
	padding: 20px;

	@media (min-width: 1024px) {
		display: none;
	}
}

.mobileNav {
	@media (max-width: 1024px) {
		background-color: #fff;
		position: fixed;
		min-width: 100%;
		height: 100%;
		margin: 0;
		top: 0;
	}
}

